.footer {
  background-color: rgb(33, 50, 91);
}
.upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
  padding: 5rem 5rem;
  /* background-color: red; */
}
.upper-footer .review {
  text-align: center;
}
.upper-footer .review img {
  width: 8rem;
  margin-bottom: 2rem;
}
.upper-footer .review p {
  color: #677788;
  font-size: 2rem;
}
.upper-footer .review p span {
  color: black;
}
.avatar .AvatarGroup .Avatar {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}
.avatar p {
  text-align: center;
  color: #677788;
  font-size: 2rem;
  width: 30rem;
}
.avatar p span {
  color: black;
}
.lower-footer {
  padding: 10rem 5rem;
  background-color: rgb(33, 50, 91);
  color: white;
}
.add-links {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.address .logo {
  width: 12rem;
  margin-bottom: 3rem;
}
.address .location {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.address .location img {
  width: 1.8rem;
}
.address .location p {
  font-size: 1.2rem;
}

.add-links .links {
  padding: 0 2rem;
  display: flex;
  gap: 3rem;
}

.links .Company .heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.links .Company ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}
.links .Company ul li {
  font-size: 1.3rem;
}
.links .Company ul li:hover {
  cursor: pointer;
}

/* Home page footer */
.footer .divider {
  height: 1px;
  background: transparent;
  background-color: #677788;
  margin: 0 10%;
}
.sub-footer {
  padding: 3rem 5rem;
  background-color: rgb(33, 50, 91);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.upper-sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-sub-footer .privacy-policy {
  display: flex;
  width: 100%;
}
.upper-sub-footer .privacy-policy span {
  margin: 0 1rem;
  color: #677788;
  font-weight: 700;
}
.sub-footer .copyright {
  color: #677788;
  text-align: center;
  width: 100%;
}
.sub-footer .info {
  text-align: center;
  color: #677788;
}

@media (max-width: 1000px) {
  .add-links {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
  .links {
    padding: 0 0;
    display: flex;
    gap: 3rem;
  }
}

@media (max-width: 650px) {
  .upper-footer {
    gap: 5rem;
    padding: 3rem 5rem;
  }

  .upper-footer .review img {
    width: 3rem;
  }
  .avatar .AvatarGroup .Avatar {
    width: 3rem;
    height: 3rem;
  }
  .avatar p {
    font-size: 1.2rem;
    width: 25rem;
  }
  .upper-footer .review p {
    font-size: 1.2rem;
  }
  .add-links .links {
    flex-direction: column;
    padding: 0 0;
  }
  .links .Company .heading {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}
